@import url("//cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");

*{
    text-decoration: none;
}
html,
body {
	margin: 0;
	height: 100vh;
	width: 100vw;
}

body {
	font-family: "BPG Arial", sans-serif!important;
}

